<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add page</title>
</head>
<body>
<div align="center">

    <div>
        <a href="/addTemplate"><button type="submit">Add Template</button></a>
    </div>
    <br>
    <form action="/saveOrder" method="get">
        <select name="id">
            <span th:each="orderTemplate : ${orderTemplates}">
                <option th:value="${orderTemplate.getId()}"
                    th:text="${orderTemplate.getName()}">Template</option>
            </span>
        </select>
        <p>Previous value <input type="text" name="prev"></p>
        <p>Present value <input type="text" name="pres"></p>
        <p><button type="submit">Send</button></p>
    </form>

</div>
</body>
</html>