<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Preferences page</title>
</head>
<body>
<div align="center">

    <h1>Add new Service</h1>
    <form action="/saveTemplate" method="get">
        <p>Name <input type="text" name="name"></p>
        <p>Tariff1 <input type="text" name="tariff1"></p>
        <p>Tariff2 <input type="text" name="tariff2"></p>
        <p><button type="submit">Send</button></p>
    </form>

</div>
</body>
</html>