<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unauthorization page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="alert alert-danger">ACCESS DENIED</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a href="/login">
                <button type="button" class="btn btn-secondary">Back to Login page</button>
            </a>
        </div>
    </div>
</div>

<script src="js/bootstrap.bundle.js"></script>
</body>
</html>