<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


<div class="container" id="ind">
    <div class="row card-header">
        <div class="col">
            <h1>Welcome to Utilities manager</h1>
        </div>
    </div>
    <br>
    <div class="row card-body">
        <div class="col">
            <a href="/addOrder">
                <button type="button" class="btn btn-secondary">Add your Order</button>
            </a>
        </div>
    </div>
</div>


<script src="js/bootstrap.bundle.js"></script>
</body>
</html>