<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
    <div class="row card-header shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col card-header">
            <h1>Log IN</h1>
        </div>
    </div>
    <div class="row card-body border">
        <div class="col">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" placeholder="Enter username"
                           name="username" id="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" placeholder="Enter password"
                           name="password" id="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            <h3 th:if="${error}">Invalid Login or Password</h3>
            <h3 th:if="${logout}">You are logout</h3>
        </div>
    </div>
</div>

<script src="js/bootstrap.bundle.js"></script>
</body>
</html>